#table-div{
    background-color: rgb(240, 242, 245);
    color: black;

}
#view_thead,tbody{
    text-align: center;
}
#view_thead{
    background-color: rgb(26, 37, 63);
    text-transform: uppercase;
    color: white;
}
a{
    text-align: center;
}
td{
    font-size: 18px;
    font-family:'Times New Roman';

}

/* btn:hover{
    color: red;
} */

.btn:hover{
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: rgb(43, 43, 148);
    color: #fff;
    transition: 250ms;
}